<script src="/socket.io-client/dist/socket.io.slim.js"></script>
<div class="chat-list-container">
    <ul class="chat-list">
        <li>
            <div class="chat-user-img">
                <img src="/images/img_user.png" />
            </div>
            <div class="chat-user-info">
                <strong class="chat-user-name">이름이름</strong>
                <span class="chat-user-msg">마지막 메세지 마지막 메세지</span>
            </div>
            <div class="chat-date-box">
                <span class="date">시간&날짜</span>
            </div>
        </li>
        <li>
            <div class="chat-user-img">
                <img src="/images/img_user.png" />
            </div>
            <div class="chat-user-info">
                <strong class="chat-user-name">이름이름</strong>
                <span class="chat-user-msg">마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세</span>
            </div>
            <div class="chat-date-box">
                <span class="date">시간&날짜</span>
            </div>
        </li>
        <li>
            <div class="chat-user-img">
                <img src="/images/img_user.png" />
            </div>
            <div class="chat-user-info">
                <strong class="chat-user-name">이름이름</strong>
                <span class="chat-user-msg">마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세</span>
            </div>
            <div class="chat-date-box">
                <span class="date">시간&날짜</span>
            </div>
        </li>
        <li>
            <div class="chat-user-img">
                <img src="/images/img_user.png" />
            </div>
            <div class="chat-user-info">
                <strong class="chat-user-name">이름이름</strong>
                <span class="chat-user-msg">마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세</span>
            </div>
            <div class="chat-date-box">
                <span class="date">시간&날짜</span>
            </div>
        </li>
        <li>
            <div class="chat-user-img">
                <img src="/images/img_user.png" />
            </div>
            <div class="chat-user-info">
                <strong class="chat-user-name">이름이름</strong>
                <span class="chat-user-msg">마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세</span>
            </div>
            <div class="chat-date-box">
                <span class="date">시간&날짜</span>
            </div>
        </li>
        <li>
            <div class="chat-user-img">
                <img src="/images/img_user.png" />
            </div>
            <div class="chat-user-info">
                <strong class="chat-user-name">이름이름</strong>
                <span class="chat-user-msg">마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지</span>
            </div>
            <div class="chat-date-box">
                <span class="date">시간&날짜</span>
            </div>
        </li>
        <li>
            <div class="chat-user-img">
                <img src="/images/img_user.png" />
            </div>
            <div class="chat-user-info">
                <strong class="chat-user-name">이름이름</strong>
                <span class="chat-user-msg">마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지</span>
            </div>
            <div class="chat-date-box">
                <span class="date">시간&날짜</span>
            </div>
        </li>
        <li>
            <div class="chat-user-img">
                <img src="/images/img_user.png" />
            </div>
            <div class="chat-user-info">
                <strong class="chat-user-name">이름이름</strong>
                <span class="chat-user-msg">마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지 마지막 메세지</span>
            </div>
            <div class="chat-date-box">
                <span class="date">시간&날짜</span>
            </div>
        </li>
    </ul>
    <button id="new-chat-btn"></button>
</div>

<div id="post_popup" class="pop-wrapper">
    <div class="pop-wrap">
        <div class="pop-header">
            <button type="button" class="btn-back">뒤로가기</button>
            <h2 class="tit">개볶치</h2>
            <!-- <button type="button" class="btn-close">닫기</button> -->
        </div>
        <div class="pop-content">
            <div class="chat-container">
                <div class="chat-wrap">
                    <div class="chat-box">
                        <ul id="messages" class="message-list">
                        </ul>
                    </div>
                    <div class="enter-box-area">
                        <div class="enter-box">
                            <input type="text" id="content">
                            <button id="sendBtn" class="btn-send">보내기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<script type="text/javascript"> 
    
    $(document).on("ready",function(){
        getChatRoomList();
    });
    
    const socket = io();
    let num = 0;
    var userInfo = JSON.parse(sessionStorage.getItem("user"));
    var userName = userInfo.user_name;
    var roomId = new Date().getTime()+"_"+fn_getRandomInt(1000,9999);

    function testSelectUserList(){
        transaction({searchData:"ag"},{
            url : "/account/getUserList.do"
            ,success : function(result){
                result.unshift(userInfo); // 채팅방 유저 배열 첫번째에 세션 사용자정보 입력
                var roomInfo = {}
                roomInfo.room_id = roomId;
                roomInfo.userList = result;
                socket.emit("access",roomInfo);
            }
        })
    }

    socket.on('access', ( roomInfo ) => {
        console.log("access",roomInfo);
    });

    // socket.emit("access",{userInfo,roomId});
    // socket.emit('joinRoom',userName,roomId);

    // $('#sendBtn').click(() => {
    //   socket.emit('chatMessage',userName, $('#content').val());
    //   $('#content').val('');
    //   return false;

        
    // });

    // socket.on('chatMessage', ( name, msg, address) => {
    //   $('#messages').append($(`<li class="${userName == name ? "my-msg":"user-msg" }">`).append(`<p class="msg-user">${name}</p><p class="msg-txt">${msg}</p>`));
    //     $(".my-msg .msg-user").hide();
    //     // .text(name + '  :  ' +
    //     // msg + `(${address})`));
    // });

    // socket.on('leaveRoom', (num, name) => {
    //     $('#messages').append($('<li class="room-info">').text(`${name}님이 퇴장하셨습니다 (${address})`));
    // });

    // socket.on('joinRoom', (name, address) => {
    //   $('#messages').append($('<li class="room-info">').text(`${name}님이 입장하셨습니다 (${address})`));
    // });

    // window.onbeforeunload = function() {
	//     socket.emit('leaveRoom', userName);
    // }

    function getChatRoomList(){
        var param = {};
        transaction(param,{
            url:"/chat/getChatRoomList.do"
            ,success : function(result){
                console.log("채팅방목록",result);
            }
        });
    }

</script>