<div class="tl-item-wrapper">
</div>

<script>

getPostList();

function getPostList(){
    transaction(null,{
        url : '/post/getpostlist.do'
        ,success : function(result){
            mkList(result);
        }
    });
}

function mkList(list) {
    html = ``;
    for (var i in list) {
        var fileHtml = ``;
        console.log("list",list[i]);
        for(var j in list[i].fileArr){
            var file = list[i].fileArr[j];
            console.log("file",file);
            fileHtml += `
                <div class="tl-center">
                    <img alt="-" src=/upload/${file.fileSnm}>
                </div>
            `;
        }
        if(!fileHtml){
            fileHtml += `
                <div class="tl-center">
                    <img alt="-" src="/images/default.png">
                </div>
            `;
        }

        html += ` 
            <div class="tl-item-wrap">
                <div class="tl-item-box">
                    <div class="tl-top">
                        <a href="#">
                            <div class="user-profile-img">
                                <img src ="/images/img_user.png" alt="유그미프로필사진"/>
                            </div>
                            <p class="user-info">${list[i].userName} test </p>
                        </a>
                    </div>
                    ${fileHtml}
                    <div class="tl-bottom">
                        <div class="icon-box">
                            <i class="icon-good"></i>
                            <i class="icon-comment"></i>
                        </div>
                        <div class="info-writing-box">
                            <strong>${list[i].userName}</strong>
                            <p class="info-txt">${list[i].postContent}</p>
                            <button type="button" class="btn-more">더보기</button>
                        </div>
                        <div class="user-comment-inputbox">
                            <div class="profile-img">
                                <img src ="/images/img_user.png" alt="유그미프로필사진"/>
                            </div>
                            <input type="text" placeholder="댓글달기..."/>
                        </div>
                    </div>
                </div>
            </div>
        `;
    }
    document.getElementsByClassName("tl-item-wrapper")[0].innerHTML = html;

    var textBox = document.getElementsByClassName("info-writing-box");
    var btnMore = document.getElementsByClassName("btn-more");
    $(".info-writing-box .info-txt").each(function(){
        if($(this).height() > 40) {
            $(this).css({
                height:"38px",
                overflow:"hidden",
                textOverflow: "ellipsis",
            })
            $(this).next(".btn-more").show();
        }
    })
    $(".btn-more").on("click",function(){
        $(this).prev(".info-txt").css({
            height:"auto"
        })
        $(this).hide();
    })
    $(".btn-add").on("click",function(){
        var html = ``;
        html += `
            <div class="photo-box">
                <input type="file"/>
                <div class="image"></div>
            </div>
        `
        $(this).parent(".btn-sub-area").prev(".post-write-area").append(html);
    })
}

function upLodePost() {
    var formData = new FormData(); 

    var content = document.getElementsByClassName("textarea-basic")[0].value;
    var fileEl = document.getElementById("atchFile");
    for(var i=0; i<fileEl.files.length; i++){
        formData.append('atchFile',fileEl.files[i]);
    }
    formData.append('content',content);
    formData.append('userId',4);

    $.ajax({ 
        url: '/post/uploadpost.do'
        , data: formData
        , enctype: 'multipart/form-data'
        , processData: false
        , contentType: false
        , type: 'POST'
        , success: function(result){ 
            console.log("uploadpost.do",result)
            if(result.code == "SUCC") location.reload;
        } 
        ,error : function(e){
            alert("시스템 오류가 발생했습니다.");
        }
    });
}

</script>