
<div class="tl-item-wrapper">
    
    <!-- <div class="tl-item-wrap">
        <div class="tl-item-box">
            <div class="tl-top">
                <a href="#">
                    <div class="user-profile-img">
                        <img src ="/images/images_user.png" alt="유그미프로필사진"/>
                    </div>
                    <p class="user-info">yougmi</p>
                </a>
            </div>
            <div class="tl-center">
                <img alt="-"/>
            </div>
            <div class="tl-bottom">
                <div class="icon-box">
                    <i class="icon-good"></i>
                    <i class="icon-comment"></i>
                </div>
                <p class="info-txt"><strong>개볶치</strong>님이 좋아합니다.</p>
                <p class="info-txt"><strong>개볶치</strong>님 외 <strong><span>5<span>명</strong>이 좋아합니다.</p>
                <div class="info-writing-box">
                    <strong>yougmi</strong>
                    <p class="info-txt">귀염뽀짝 트윈룩 코디 멜빵바지</p>
                    <button type="button" class="btn-more">더보기</button>
                </div>
                <div class="user-comment-inputbox">
                    <div class="profile-img">
                        <img alt="-" />
                    </div>
                    <input type="text" placeholder="댓글달기..."/>
                </div>
            </div>
        </div>
    </div> -->

</div>


<div class="bottom-menu">
    <button type="button" class="btn-post">
        글쓰기    
    </button>
</div>



<div id="post_popup" class="pop-wrapper" style="display:none">
    <div class="pop-wrap">
        <div class="pop-header">
            <h2 class="tit">새 게시물</h2>
            <button type="button" class="btn-close">닫기</button>
        </div>
        <div class="pop-content">
            <div class="post-write-area">
                <div class="photo-box">
                    <input type="file" id="atchFile" multiple/>
                    <div class="image"></div>
                </div>
            </div>
            <div class="btn-sub-area">
                <button type="button" class="btn-add">추가하기</button>
            </div>
            <div class="textarea-box">
                <textarea class="textarea-basic" placeholder="문구입력..."></textarea>
            </div>
        </div>
        <div class="btn-area">
            <button type="submit" class="btn-basic" onclick="upLodePost()">등록</button>
        </div>
    </div>
</div>

<script>

document.getElementsByClassName("btn-post")[0].addEventListener("click", function(){
    document.getElementById("post_popup").style.display = "block";
})


getPostList();

function getPostList(){
    transaction(null,{
        url : '/post/getpostlist.do'
        ,success : function(result){
            mkList(result);
        }
    });
    // $.ajax({
    //     url : '/post/getpostlist.do'
    //     ,type:'post'
    //     ,contentType: 'application/json'
    //     ,data : JSON.stringify({})
    //     ,success : function(result){
    //         console.log(result);
    //         mkList(result)
    //     }
    //     ,error : function(e){
    //         alert("시스템 오류가 발생했습니다.");
    //     }
    // });
}

function mkList(list) {
    console.log(list);
    html = ``;
    for (var i in list) {
        var fileHtml = ``;
        for(var j in list[i].fileArr){
            var file = list[i].fileArr[j];
            fileHtml += `
                <div class="tl-center">
                    <img alt="-" src=/upload/${file.file_snm}>
                </div>
            `;
        }
        if(!fileHtml){
            fileHtml += `
                <div class="tl-center">
                    <img alt="-" src="/images/default.png">
                </div>
            `;
        }

        html += ` 
            <div class="tl-item-wrap">
                <div class="tl-item-box">
                    <div class="tl-top">
                        <a href="#">
                            <div class="user-profile-img">
                                <img src ="/images/img_user.png" alt="유그미프로필사진"/>
                            </div>
                            <p class="user-info">${list[i].user_name} test </p>
                        </a>
                    </div>
                    ${fileHtml}
                    <div class="tl-bottom">
                        <div class="icon-box">
                            <i class="icon-good"></i>
                            <i class="icon-comment"></i>
                        </div>
                        <div class="info-writing-box">
                            <strong>${list[i].user_name}</strong>
                            <p class="info-txt">${list[i].post_content}</p>
                            <button type="button" class="btn-more">더보기</button>
                        </div>
                        <div class="user-comment-inputbox">
                            <div class="profile-img">
                                <img alt="-" />
                            </div>
                            <input type="text" placeholder="댓글달기..."/>
                        </div>
                    </div>
                </div>
            </div>
        `;
    }
    document.getElementsByClassName("tl-item-wrapper")[0].innerHTML = html;

    var textBox = document.getElementsByClassName("info-writing-box");
    var btnMore = document.getElementsByClassName("btn-more");
    $(".info-writing-box .info-txt").each(function(){
        if($(this).height() > 40) {
            $(this).css({
                height:"38px",
                overflow:"hidden",
                textOverflow: "ellipsis",
            })
            $(this).next(".btn-more").show();
        }
    })
    $(".btn-more").on("click",function(){
        $(this).prev(".info-txt").css({
            height:"auto"
        })
        $(this).hide();
    })
    $(".btn-close").on("click",function(){
        $(this).parents(".pop-wrapper").hide();
    });
    $(".btn-add").on("click",function(){
        var html = ``;
        html += `
            <div class="photo-box">
                <input type="file"/>
                <div class="image"></div>
            </div>
        `
        $(this).parent(".btn-sub-area").prev(".post-write-area").append(html);
    })
}

function upLodePost() {
    var formData = new FormData(); 

    var content = document.getElementsByClassName("textarea-basic")[0].value;
    var fileEl = document.getElementById("atchFile");
    for(var i=0; i<fileEl.files.length; i++){
        formData.append('atchFile',fileEl.files[i]);
    }
    formData.append('content',content);
    formData.append('userId',4);

    $.ajax({ 
        url: '/post/uploadpost.do'
        , data: formData
        , enctype: 'multipart/form-data'
        , processData: false
        , contentType: false
        , type: 'POST'
        , success: function(result){ 
            console.log("uploadpost.do",result)
            if(result.code == "SUCC") location.reload;
        } 
        ,error : function(e){
            alert("시스템 오류가 발생했습니다.");
        }
    });
}

</script>