<div class="userpage-container">
    <div class="user-info-top">
        <div class="user-img-box">
            <img src="/images/icon_user.png">
        </div>
        <ul class="user-info-list">
            <li>
                <strong class="num">1.2K</strong>
                <span class="title">게시물</span>
            </li>
            <li>
                <strong class="num">1,000</strong>
                <span class="title">팔로워</span>
            </li>
            <li>
                <strong class="num">300</strong>
                <span class="title">팔로잉</span>
            </li>
        </ul>
    </div>
    <div class="user-info-center">
        <p class="user-name">개볶치</p>
        <p class="txt">나는야 개볶치. 나는야 주먼지. 나는야 주마루나는야 개볶치. 나는야 주먼지. 나는야 주마루.</p>
        <div class="btn-area type02">
            <button type="button" class="btn-basic">프로필 수정</button>
        </div>
    </div>
    <div class="user-post-list-box">
        <ul class="user-post-list">
            <li>
                <div class="post-box">
                    <img scr="" alt="post">
                </div>
            </li>
            <li>
                <div class="post-box">
                    <img scr="" alt="post">
                </div>
            </li>
            <li>
                <div class="post-box">
                    <img scr="" alt="post">
                </div>
            </li>
            <li>
                <div class="post-box">
                    <img scr="" alt="post">
                </div>
            </li>
            <li>
                <div class="post-box">
                    <img scr="" alt="post">
                </div>
            </li>
            <li>
                <div class="post-box">
                    <img scr="" alt="post">
                </div>
            </li>
            <li>
                <div class="post-box">
                    <img scr="" alt="post">
                </div>
            </li>
        </ul>
    </div>



</div>
