@charset "utf-8";
/**** init ****/
* {margin:0;padding:0;box-sizing:border-box;outline:none;color:#444;}
a {text-decoration:none;color:#444;}
::placeholder {color:#aaa;}
strong {font-weight:700;}

/***  TIMELINE  ***/
.top-banner {position:fixed;top:0;right:0;left:0;z-index:10;height:50px;border-bottom:1px solid #333;background:#fff;}
.top-banner .logo-box {width:150px;height:100%;margin:0 auto;background:#ccc;}

.tl-item-wrapper {padding-top:50px;}
.tl-item-wrapper .tl-item-box {max-width:100%;}
.tl-item-wrapper .tl-item-box + .tl-item-box{margin-top:20px;}
.tl-item-wrapper .tl-item-box .tl-top {width:100%;height:50px;padding:6px 15px; border-bottom:1px solid #333;}
.tl-item-wrapper .tl-item-box .tl-top a {display:block;width:100%;height:100%;}
.tl-item-wrapper .tl-item-box .tl-top .user-profile-img {display:inline-block;width:35px;height:35px;margin-right:10px;border:1px solid #333;border-radius:50%;vertical-align: middle;}
.tl-item-wrapper .tl-item-box .tl-top .user-profile-img img {display:block;width:100%;height:100%;}
.tl-item-wrapper .tl-item-box .tl-top .user-info {display:inline-block;line-height:33px;}

.tl-item-wrapper .tl-item-box .tl-center {width:100%;height:450px;background:#ccc;}
.tl-item-wrapper .tl-item-box .tl-center img {display:block;width:100%;height:100%;}

.tl-item-wrapper .tl-item-box .tl-bottom {padding:0 15px;}
.tl-item-wrapper .tl-item-box .tl-bottom .icon-box i {display:inline-block;width:40px;height:40px;border:1px solid #ccc;}
.tl-item-wrapper .tl-item-box .tl-bottom .info-txt {font-size:14px;margin-top:5px;}
.tl-item-wrapper .tl-item-box .tl-bottom .info-writing-box {font-size:13px;}
.tl-item-wrapper .tl-item-box .tl-bottom .info-writing-box .info-txt {display:inline-block;transition:all 2s;}
.tl-item-wrapper .tl-item-box .tl-bottom .info-writing-box .btn-more {display:none;border:none;background:transparent;color:#aaa;font-size:12px;text-decoration:underline;}
.tl-item-wrapper .tl-item-box .tl-bottom .user-comment-inputbox {position:relative;height:30px;margin-top:15px;}
.tl-item-wrapper .tl-item-box .tl-bottom .user-comment-inputbox .profile-img {position:absolute;top:3px;left:0;width:25px;height:25px;border-radius:50%;background:#ccc;}
.tl-item-wrapper .tl-item-box .tl-bottom .user-comment-inputbox .profile-img img {display:inline-block;width:100%;height:100%;}
.tl-item-wrapper .tl-item-box .tl-bottom .user-comment-inputbox input {width:100%;height:100%;border:none;text-indent:40px;}


/*** POPUP ***/
.pop-wrapper {position:fixed;top:0;right:0;bottom:0;left:0;z-index:10000;background:#fff;}
.pop-wrapper .pop-header {width:100%;height:50px;padding:0 15px;background:#ccc;}
.pop-wrapper .pop-header .tit {font-size:18px;line-height:50px;color:#fff;}
.pop-wrapper .pop-header .btn-close {position:absolute;top:0;right:0;width:50px;height:50px;border:none;background:url(/images/btn_close.png) no-repeat center / 25px;font-size:0;}
.pop-wrapper .pop-content {padding:15px;}
.post-write-area:after {content:'';display:block;clear:both;}
.post-write-area .photo-box {float:left; position:relative;width:calc((100% / 3) - 7px);height:100px;margin-right:10px;margin-top:10px;border:1px solid #aaa;border-radius:10px;background:url(/images/icon_plus.png) no-repeat center / 20px;}
.post-write-area .photo-box:nth-child(1),
.post-write-area .photo-box:nth-child(2),
.post-write-area .photo-box:nth-child(3) {margin-top:0;}
.post-write-area .photo-box:nth-child(3n) {margin-right:0;}
.post-write-area .photo-box input[type="file"] {position:absolute;top:0;right:0;bottom:0;left:0;width:100%;opacity:0;z-index:5;}
.post-write-area .photo-box .image {position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;}
.textarea-box .textarea-basic {width:100%;height:150px;margin-top:20px;resize:none;}


.btn-sub-area {margin-top:10px;}
.btn-add {display:block;min-width:100px;padding:10px;border:none;border-radius:30px;background:linear-gradient(109.8deg, rgba(255,189,55,1) 5.6%, rgba(250,111,152,1) 91.5%);font-size:13px;color: #fff;letter-spacing:2px;}