@charset "utf-8";

/**** INIT ****/
* {margin:0;padding:0;box-sizing:border-box;color:#444;}
a {text-decoration:none;color:#444;}
::placeholder {color:#aaa;}
strong {font-weight:700;}
li {list-style:none;}
i {display:inline-block;background-repeat:no-repeat;background-position:center;background-size:cover;}

/*** COMMON ***/
.container {padding-top:80px;padding-bottom:50px;}

/*** BUTTON ***/
.btn-area {text-align:center;margin-top:50px;}
.btn-area.type02 {margin-top:20px;}
.btn-basic {width:100%;padding:12px;border:none;border-radius:30px;background:linear-gradient(109.8deg, rgba(255,189,55,1) 5.6%, rgba(250,111,152,1) 91.5%);font-size:15px;font-weight:700;color:#fff;letter-spacing:2px;}
.btn-send {position:absolute;top:0px;right:5px;width:40px;height:35px;border:none;background:url(/images/icon_send.png) no-repeat center/ 20px;font-size:0;}
.btn-sub-area {margin-top:10px;}
.btn-add {display:block;min-width:100px;padding:10px;border:none;border-radius:30px;background:linear-gradient(109.8deg, rgba(255,189,55,1) 5.6%, rgba(250,111,152,1) 91.5%);font-size:13px;color: #fff;letter-spacing:2px;}
.btn-back {display:inline-block;position:absolute;left:0;top:0;width:50px;height:50px;border:none;background:url(/images/icon_arrow_left.png) no-repeat center / 25px transparent; font-size:0;}
.btn-new-chat {display:inline-block;position:fixed;right:15px;bottom:60px;width:50px;height:50px;border:none;border-radius:50%;background:url(/images/icon_chat_plus.png) no-repeat center  / 50px #ccc;font-size:0;}

/*** TEXT ***/
.notice-txt {margin-top:15px;padding-left:20px;background:url(/images/icon_notice.png) no-repeat left / 15px;font-size:12px;color:#aaa;}

/*** ICON ***/
i.icon-good {background-image: url(/images/icon_star.png);}
i.icon-good.active {background-image: url(/images/icon_star_a.png);}
i.icon-comment {background-image: url(/images/icon_comment.png);}

/*** HEADER ***/
header .top-banner {position:fixed;top:0;right:0;left:0;z-index:10;height:80px;background:#fcd454;}
header .top-banner .logo-box {width:80px;height:100%;margin:0 auto;}
header .top-banner .logo-box img {width:100%;height:100%;}

/*** NAV ***/
nav {position:fixed;right:0;bottom:0;left:0;z-index:10;border-top:1px solid #333;}
nav .bottom-menu {display:table;width:100%;height:50px;background:#fff;}
nav .bottom-menu li {display:table-cell;width:1%;}
nav .bottom-menu a {display:block;width:100%;height:100%;font-size:0;background-repeat:no-repeat;background-position:center;background-size:30px;}
nav .bottom-menu .btn-timeline {background-image:url(/images/icon_home.png);}
nav .bottom-menu .btn-timeline.active {background-image:url(/images/icon_home_a.png);}
nav .bottom-menu .btn-post {background-image:url(/images/icon_plus.png);}
nav .bottom-menu .btn-mypage {background-image:url(/images/icon_user_02.png);}
nav .bottom-menu .btn-mypage.active {background-image:url(/images/icon_user_02_a.png);}
nav .bottom-menu .btn-chat {background-image:url(/images/icon_chat.png);}
nav .bottom-menu .btn-chat.active {background-image:url(/images/icon_chat_a.png);}

/*** POPUP LAYOUT ***/
.pop-wrapper {position:fixed;top:0;right:0;bottom:0;left:0;z-index:10000;background:#fff;}
.pop-wrapper .pop-header {position:relative;width:100%;height:50px;padding-left:60px;background:#fcd454;}
.pop-wrapper .pop-header .tit {font-size:18px;line-height:50px;}
.pop-wrapper .pop-header .btn-close {position:absolute;top:0;right:0;width:50px;height:50px;border:none;background:url(/images/btn_close.png) no-repeat center / 25px;font-size:0;}
.pop-wrapper .pop-content {padding:15px;}

/*** P - TIMELINE  ***/
.tl-item-wrapper .tl-item-wrap {margin-top:30px;}
.tl-item-wrapper .tl-item-wrap:first-child {margin-top:0;}
.tl-item-wrapper .tl-item-box {max-width:100%;}
.tl-item-wrapper .tl-item-box + .tl-item-box{margin-top:20px;}
.tl-item-wrapper .tl-item-box .tl-top {width:100%;height:50px;padding:6px 15px; border-bottom:1px solid #333;}
.tl-item-wrapper .tl-item-box .tl-top a {display:block;width:100%;height:100%;}
.tl-item-wrapper .tl-item-box .tl-top .user-profile-img {display:inline-block;width:35px;height:35px;margin-right:10px;border-radius:50%;vertical-align: middle;}
.tl-item-wrapper .tl-item-box .tl-top .user-profile-img img {display:block;width:100%;height:100%;}
.tl-item-wrapper .tl-item-box .tl-top .user-info {display:inline-block;line-height:33px;}
.tl-item-wrapper .tl-item-box .tl-center {position:relative;width:100%;height:450px;background:#ccc;}
.tl-item-wrapper .tl-item-box .tl-center img {display:block;width:100%;height:100%;}
.tl-item-wrapper .tl-item-box .tl-center i {position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;background-size:200px;opacity: 0.8;}
.tl-item-wrapper .tl-item-box .tl-bottom {padding:0 15px;}
.tl-item-wrapper .tl-item-box .tl-bottom .icon-box i {width:40px;height:40px;background-size:25px;}
.tl-item-wrapper .tl-item-box .tl-bottom .info-txt {font-size:14px;margin-top:5px;}
.tl-item-wrapper .tl-item-box .tl-bottom .info-writing-box {font-size:13px;}
.tl-item-wrapper .tl-item-box .tl-bottom .info-writing-box .info-txt {display:inline-block;transition:all 2s;}
.tl-item-wrapper .tl-item-box .tl-bottom .info-writing-box .btn-more {display:none;border:none;background:transparent;color:#aaa;font-size:12px;text-decoration:underline;}
.tl-item-wrapper .tl-item-box .tl-bottom .user-comment-inputbox {position:relative;height:30px;margin-top:15px;}
.tl-item-wrapper .tl-item-box .tl-bottom .user-comment-inputbox .profile-img {position:absolute;top:5.5px;left:10px;width:20px;height:20px;border-radius:50%;background:#ccc;}
.tl-item-wrapper .tl-item-box .tl-bottom .user-comment-inputbox .profile-img img {display:inline-block;width:100%;height:100%;}
.tl-item-wrapper .tl-item-box .tl-bottom .user-comment-inputbox input {width:100%;height:100%;border:none;text-indent:40px;border-radius:25px;box-shadow:0 0 15px #ccc;}

/*** P - POST WRITE ***/
.post-write-area:after {content:'';display:block;clear:both;}
.post-write-area .photo-box {float:left;position:relative;width:calc((100% / 3) - 7px);height:100px;margin-right:10px;margin-top:10px;border:1px solid #aaa;border-radius:10px;background:url(/images/icon_plus.png) no-repeat center / 20px;}
.post-write-area .photo-box:nth-child(1),
.post-write-area .photo-box:nth-child(2),
.post-write-area .photo-box:nth-child(3) {margin-top:0;}
.post-write-area .photo-box:nth-child(3n) {margin-right:0;}
.post-write-area .photo-box input[type="file"] {position:absolute;top:0;right:0;bottom:0;left:0;width:100%;opacity:0;z-index:5;}
.post-write-area .photo-box .image {position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;}
.textarea-box .textarea-basic {width:100%;height:150px;margin-top:20px;resize:none;}

/*** P - USER PAGE ***/
.userpage-container {padding:0 15px;}
.user-info-top:after {content:'';display:block;clear:both;}
.user-info-top {margin-top:15px;}
.user-info-top .user-img-box {float:left;width:80px;height:80px;border-radius:50%;}
.user-info-top .user-img-box img {width:100%;}
.user-info-top .user-info-list {display:table;float:left;width:calc(100% - 80px);height:80px;text-align:center;}
.user-info-top .user-info-list li {display:table-cell;font-size:14px;vertical-align:middle;}
.user-info-top .user-info-list .title {display:block;margin-top:5px;}

.user-info-center {margin-top:15px;}
.user-info-center .user-name {font-size:14px;font-weight:700;}
.user-info-center .txt {margin-top:3px;font-size:14px;line-height:20px;font-size:13px;}

.user-post-list-box {margin:15px -15px 0;}
.user-post-list:after {content:'';display:block;clear:both;}
.user-post-list li {float:left;width:33.3333%;border-bottom:1px solid #fff;border-right:1px solid #fff;background:#666;}
.user-post-list li:nth-child(3n) {border-right:none;}



/*** P - CHAT ***/
/* P - CHAT list */
.chat-list li:after {content:'';display:block;clear:both;}
.chat-list .chat-user-img {float:left;width:80px;height:80px;padding:10px;}
.chat-list .chat-user-img img {width:100%;height:100%;border:1px solid #ccc;border-radius:20px;}
.chat-list .chat-user-info {float:left;width:calc(100% - 160px);height:80px;padding:10px;}
.chat-list .chat-user-info .chat-user-name {display:block;font-size:14px;}
.chat-list .chat-user-info .chat-user-msg {display:inline-block;width: 100%;height:32px;margin-top:5px;font-size:12px;color:#888;line-height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.chat-list .chat-date-box {float:left;width:80px;height:80px;padding:10px;}
.chat-list .chat-date-box .date {font-size:12px;color:#aaa;}
/* P - CHAT message*/
.chat-container {padding:5px 15px 50px;}
.message-list li:after {content:'';display:block;clear:both;}
.message-list li {margin-top:10px;}
.message-list .room-info {font-size:12px;text-align:center;color:#aaa;}
.message-list .msg-txt {display:inline-block;padding:5px 10px;background:#fff;border:1px solid #333;border-radius:20px;}
.message-list .my-msg .msg-txt {float:right;border:none;background:#bfab8e;}
.enter-box-area {position:fixed;right:15px;bottom:0;left:15px;height:50px;background:#fff;}
.enter-box {position:relative;height:35px;}
.enter-box input {width:100%;height:100%;padding:0 20px;border:none;border-radius:25px;box-shadow:0 0 15px #ccc;}

/*** P - USERuser-img LIST ***/
.user-list .user-img {display:inline-block;width:50px;height:50px;border:1px solid #333;vertical-align:middle;}
.user-list .user-img img {width:100%;height:100%;}
/* P - USER LIST chat */
.user-list.chat input[type="radio"] {display:none;}
.user-list.chat input[type="radio"] + label {display:inline-block;width:100%;height:100%;}

@media screen and (min-width: 650px) {
    .user-post-list li {width:25%;}
    .user-post-list li:nth-child(3n) {border-right:1px solid #fff;}
    .user-post-list li:nth-child(4n) {border-right:none;}
}
@media screen and (min-width: 1000px) {
    .user-post-list li {width:20%;}
    .user-post-list li:nth-child(3n) {border-right:1px solid #fff;}
    .user-post-list li:nth-child(4n) {border-right:1px solid #fff;}
    .user-post-list li:nth-child(5n) {border-right:none;}
}