@charset "utf-8";
* {margin:0;padding:0;box-sizing:border-box;outline:none;color:#444;}
a {text-decoration:none;color:#444;}
::placeholder {color:#ccc;}
/***  LOGIN  ***/
.login-visual {width:100%;height:200px;background:linear-gradient(109.8deg, rgba(255,189,55,1) 5.6%, rgba(250,111,152,1) 91.5%);transition:height .5s;}
.login-visual .btn-back {display:none;width:30px;height:30px;border:0;background:green;font-size:0;}

.login-content {width:90%;margin:0 auto;}
.login-content .login-tit {margin-top:10px;font-size:60px;font-weight:700;}
.login-content .login-txt {font-size:15px;color:#999;}
.login-content .login-form-box {margin-top:35px;}
.login-content .login-form-box .input-box {position:relative;width:100%;height:45px;margin-top:20px;}
.login-content .login-form-box .input-box input {width:100%;height:100%;padding:0 15px;border:none;border-radius:25px;box-shadow:0 0 15px #ccc;}
.login-content .login-form-box .input-box .btn-clear {display:none;position:absolute;top:0;right:0;width:45px;height:45px;background:url(/img/btn_input_clear.png) no-repeat center / 20px;font-size:0;}
.login-content .login-form-box .join {margin-top:10px;text-align:right;}
.login-content .login-form-box .join a {font-size:15px;color:#999;}

.btn-area {text-align:center;margin-top:50px;}
.btn-area .btn-basic {min-width:150px;padding:12px;border:none;border-radius:30px;background:linear-gradient(109.8deg, rgba(255,189,55,1) 5.6%, rgba(250,111,152,1) 91.5%);font-size:15px;font-weight:700;color:#fff;letter-spacing:2px;}

/* join */
.login-visual.h-animate {height:150px;}
.login-visual.h-animate .btn-back {display:inline-block;}
.profile-sumnail {position:relative;width:100px;height:100px;margin:0 auto;margin-top:-50px;background:#333;border-radius:50%;}
.profile-sumnail:after {content:'';position:absolute;right:5px;bottom:0;width:20px;height:20px;background:#000;border-radius:50%;}
.profile-sumnail input[type="file"] {width:100%;height:100%;opacity:0;}

.check-agree {margin-top:10px;}
.check-agree input[type="checkbox"] {display:none;}
.check-agree input[type="checkbox"] + label {font-size:13px;color:#777;}
.check-agree input[type="checkbox"] + label::before {content:'';display:inline-block;width:15px;height:15px;margin-right:10px;border:1px solid #ccc;border-radius:3px;vertical-align:middle;}
.check-agree input[type="checkbox"]:checked + label::before {background:#ccc;}
 