<div id="chat_popup" class="pop-wrapper" style="display:none">
    <div class="pop-wrap">
        <div class="pop-header">
            <button type="button" class="btn-back">뒤로가기</button>
            <h2 class="tit">개볶치</h2>
            <!-- <button type="button" class="btn-close">닫기</button> -->
        </div>
        <div class="pop-content">
            <div class="chat-container">
                <div class="chat-wrap">
                    <div class="chat-box">
                        <ul id="messages" class="message-list">
                        </ul>
                    </div>
                    <div class="enter-box-area">
                        <div class="enter-box">
                            <input type="text" id="content">
                            <button id="sendBtn" class="btn-send">보내기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>