<div id="post_popup" class="pop-wrapper" style="display:none">
    <div class="pop-wrap">
        <div class="pop-header">
            <button type="button" class="btn-back">뒤로가기</button>
            <h2 class="tit">새 게시물</h2>
            <!-- <button type="button" class="btn-close">닫기</button> -->
        </div>
        <div class="pop-content">
            <div class="post-write-area">
                <div class="photo-box">
                    <input type="file" id="atchFile" multiple/>
                    <div class="image"></div>
                </div>
            </div>
            <div class="btn-sub-area">
                <button type="button" class="btn-add">추가하기</button>
            </div>
            <div class="textarea-box">
                <textarea class="textarea-basic" placeholder="문구입력..."></textarea>
            </div>
        </div>
        <div class="btn-area">
            <button type="submit" class="btn-basic" onclick="upLodePost()">등록</button>
        </div>
    </div>
</div>