<div id="chat_user_list_popup" class="pop-wrapper" style="display:none">
    <div class="pop-wrap">
        <div class="pop-header">
            <button type="button" class="btn-back">뒤로가기</button>
            <h2 class="tit">새 메세지</h2>
        </div>
        <div class="pop-content">
            <ul class="user-list chat">
                <li>
                    <input type="radio" />
                    <label>
                        <span class="user-img">
                            <img src="/images/img_user.png" alt="-"/>
                        </span>
                        <span class="user-name">유그미</span>
                    </label>
                </li>
                <li>
                    <input type="radio" />
                    <label>
                        <span class="user-img">
                            <img src="/images/img_user.png" alt="-"/>
                        </span>
                        <span class="user-name">유그미</span>
                    </label>
                </li>
                <li>
                    <span class="user-img">
                        <img src="/images/img_user.png" alt="-"/>
                    </span>
                    <span class="user-name">유그미</span>
                </li>
            </ul>
        </div>
    </div>
</div>